<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <!--<appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %2p - %c - %m %n"/>
        </layout>
    </appender>
    <appender name="druidlog" class="com.alibaba.druid.filter.logging.Log4jFilter">

    </appender>
    <appender name="filelog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="file" value="${catalina.home}/logs/xmxb-api.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %2p - %c - %m %n"/>
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="filelog"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="filelog"/>
    </root>-->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%t] [%c{1}] %m%n" />
        </layout>
    </appender>

    <appender name="ASYNC_CONSOLE" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="8192"/>
        <appender-ref ref="CONSOLE" />
    </appender>
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="e:/logs/lottery-core.log" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%t] [%c{1}] %m%n" />
        </layout>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </root>


</log4j:configuration>