<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %2p - %c - %m %n"/>
        </layout>
    </appender>

    <appender name="ROOT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %2p - %c - %m %n"/>
        </layout>
    </appender>

    <appender name="filelog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="file" value="${catalina.home}/logs/ya-admin.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %2p - %c - %m %n"/>
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="filelog"/>
    </logger>
    <root>
        <!--<priority value="debug"/>-->
        <level value="INFO"/>
        <appender-ref ref="filelog"/>
    </root>
</log4j:configuration>