<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.empathy.dao.LiveClassifyDao">

    <sql id="fields">
        id,
        name,
        create_time createTime,
        last_revamp_time lastRevampTime
    </sql>
    <sql id="wb">
        WHERE del_flag = 0
    </sql>

    <select id="findById" parameterType="long" resultType="com.empathy.domain.live.LiveClassify">
        SELECT
        <include refid="fields"/>
        FROM base_live_classify WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.empathy.domain.live.LiveClassify" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO base_live_classify (name,create_time,last_revamp_time,del_flag)
        VALUES (#{name},#{createTime},#{lastRevampTime},#{delFlag})
    </insert>

    <update id="update" parameterType="com.empathy.domain.live.LiveClassify">
        UPDATE base_live_classify SET name = #{name},last_revamp_time=#{lastRevampTime} WHERE id = #{id}
    </update>

    <update id="delById" parameterType="long">
        UPDATE base_live_classify SET del_flag = 1 WHERE id = #{id}
    </update>

    <select id="list" resultType="com.empathy.domain.live.LiveClassify">
        SELECT <include refid="fields"></include> from base_live_classify where del_flag = 0

    </select>


</mapper>