<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.empathy.dao.TbPermissionDao">

    <sql id="fields">
        id,memo,code,tag,
        create_time createTime,
        last_revamp_time lastRevampTime
    </sql>
    <sql id="wb">
        WHERE del_flag = 0
    </sql>

    <select id="findById" parameterType="long" resultType="com.empathy.domain.account.TbPermission">
        SELECT
        <include refid="fields"/>
        FROM tb_permission WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.empathy.domain.account.TbPermission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_permission (code,tag,memo,create_time,last_revamp_time,del_flag)
        VALUES (#{code},#{tag},#{memo},#{createTime},#{lastRevampTime},#{delFlag})
    </insert>

    <update id="update" parameterType="com.empathy.domain.account.Account">
        UPDATE tb_permission SET code = #{code}, tag = #{tag}, memo = #{memo},last_revamp_time=#{lastRevampTime} WHERE id = #{id}
    </update>

    <update id="delById" parameterType="long">
        UPDATE tb_permission SET del_flag = 1 WHERE id = #{id}
    </update>

    <select id="list" parameterType="com.empathy.common.PageBo" resultType="com.empathy.domain.account.TbPermission">
        SELECT
        <include refid="fields"/>
        FROM tb_permission  WHERE del_flag = 0 order by code LIMIT #{start},#{limit}
    </select>

    <select id="count" resultType="int">
        SELECT count(id) from tb_permission where del_flag=0

    </select>

    <select id="lists" resultType="com.empathy.domain.account.TbPermission">
        SELECT
        <include refid="fields"/>
        FROM tb_permission  WHERE del_flag = 0 order by code
    </select>




</mapper>