<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.empathy.dao.UserFocusDao">

    <sql id="fields">
        id,
        user_id userId,
        focus_user_id focusUserId,
        create_time createTime,
        last_revamp_time lastRevampTime
    </sql>
    <sql id="wb">
        WHERE del_flag = 0
    </sql>

    <select id="findById" parameterType="long" resultType="com.empathy.domain.user.UserFocus">
        SELECT
        <include refid="fields"/>
        FROM base_user_focus WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.empathy.domain.user.UserFocus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO base_user_focus (user_id,focus_user_id,create_time,last_revamp_time,del_flag)
        VALUES (#{userId},#{focusUserId},#{createTime},#{lastRevampTime},#{delFlag})
    </insert>

    <update id="update" parameterType="com.empathy.domain.user.UserFocus">
        UPDATE base_user_focus SET user_id = #{userId},focus_user_id = #{focusUserId},last_revamp_time=#{lastRevampTime}
        WHERE id = #{id}
    </update>

    <update id="delById" parameterType="long">
        UPDATE base_user_focus SET del_flag = 1 WHERE id = #{id}
    </update>

    <select id="list" resultType="com.empathy.domain.user.vo.UserFocusVo"
            parameterType="com.empathy.domain.user.bo.FocusFindBo">
        SELECT a.id id ,a.user_id userId ,a.focus_user_id focusUserId ,a.create_time createTime ,b.username
        focusUsername
        from base_user_focus a left join base_member b on a.focus_user_id = b.id where a.user_id =#{userId} and
        a.del_flag=0
        order by a.create_time desc LIMIT #{start},#{limit}

    </select>
    <select id="count" resultType="int"
            parameterType="com.empathy.domain.user.bo.FocusFindBo">
        SELECT count(a.id)
        from base_user_focus a left join base_member b on a.focus_user_id = b.id where a.user_id =#{userId} and
        a.del_flag=0
        order by a.create_time desc LIMIT #{start},#{limit}

    </select>

    <select id="findCountByIds" resultType="int">
    select count(id) from base_user_focus where user_id=#{id} and focus_user_id = #{userId} and del_flag=0

    </select>
    <select id="findByIds" resultType="com.empathy.domain.user.UserFocus">
    select <include refid="fields"></include> from base_user_focus where user_id=#{id} and focus_user_id = #{userId} and del_flag=0

    </select>

    <select id="findByUserIdAndFocusId" resultType="com.empathy.domain.user.UserFocus">
        select <include refid="fields"></include> from base_user_focus where user_id=#{userId} and focus_user_id = #{userFocusId}
    </select>

    <update id="againUpdataById" parameterType="long" >
        UPDATE base_user_focus SET del_flag = 0 WHERE id = #{id}
    </update>

</mapper>